body{
  background-color: rgb(50,50,50);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h1{
 font-size: 3em;
}
label{
  display:block;
  margin: 5%;
}
button{
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 0.6em;
  color: white;
  font-weight: 900;
  background-color: rgb(255,50,100);
  border-radius: 10px;
  border: 2px solid white;
  transition-property: all;
  transition-duration: 300ms;
}
button:hover{
  letter-spacing: 0.2em;
  color: rgb(255,50,100);
  border: 2px solid rgb(255,50,100);
  background-color: white;
  transition-property: all;
  transition-duration: 300ms;
}
input{
  padding: 0.5em;
  background-color: rgb(255,200,200);
  border: 2px solid white;
  border-radius: 5px;
  transition-property: all;
  transition-duration: 300ms;
}
input:hover{
  padding: 0.5em;
  border: 2px solid rgb(255,50,100);
  background-color: white;

  transition-property: all;
  transition-duration: 300ms;
}
table{
  margin: auto;
}
td{
  height: 200px;
  width: 200px;
}
a{
  display: block;
  height: 200px;
  width: 200px;
  background-color: rgb(75,75,75);
  transition-property: all;
  transition-duration: 200ms;
}
a:hover{
  background-color: rgb(110,110,110);
  transition-property: all;
  transition-duration: 200ms;
}