body {
    background-color: rgb(220,220,220);
    font-family: 'Courier New', Courier, monospace;
}
div {
    width: 50vw;
    background-color: white;
    padding: 10%;
    text-align: center;
    margin: 20vh auto;
    box-shadow: 0 0 200px grey;
}
h1 {
    font-size: 2em;
}
label {
    font-size: 1.2em;
}
input[type=submit] {
    text-decoration: none;
    background-color: rgb(220,220,220);
    border-radius: 5px;
    border: 1px solid rgb(50,50,50);
    margin: 5%;
    padding: 2%;
}
select > option:first-child {
    text-decoration: none;
    background-color: white;
    color: black;
}
select > option:nth-child(2) {
    text-decoration: none;
    background-color: rgb(25,25,25);
    color: rgb(100,255,255);
}
select > option:last-child {
    text-decoration: none;
    background-color: pink;
    color: fuchsia;
}